.load {
    position: absolute;
    display: none;
    top: 60%;
    left: 45%;
    width: 40px;
    height: 20px;
}
.load span{
    display: inline-block;
    width: 4px;
    height: 100%;
    border-radius: 4px;
    background: lightgreen;
    -webkit-animation: load 1.04s ease infinite;
}
@-webkit-keyframes load {
    0%, 100% {
        height: 15px;
        background: lightgreen;
    }
    50% {
        height: 25px;
        margin-top: -5px;
        background: lightblue;
    }
}
.load span:nth-child(1) {
    -webkit-animation-delay: 0.13s;
}
.load span:nth-child(2) {
    -webkit-animation-delay: 0.26s;
}
.load span:nth-child(3) {
    -webkit-animation-delay: 0.39s;
}
.load span:nth-child(4) {
    -webkit-animation-delay: 0.52s;
}