html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strike, strong, sub, sup, tt, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
body {
	font-family: 微软雅黑, "Open Sans", "Microsoft YaHei",sans-serif ;
	overflow-x: hidden;
	height: 100%;
	-webkit-font-smoothing: antialiased;
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: none;
}
a {
	text-decoration: none;
	border: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, .03);
}
li {
	list-style: none;
}


/*local_wrapper--------------------------------------------*/
.main{
	background-color: #fff;
	overflow: hidden;
}
/*revealright----------------------------------------------------*/
.menu-wrapper{
	display: none;
	width: 100%;
    height: 100%;
	position: absolute;
	z-index: 9999;
	background-color: #fff;
	overflow: hidden;
}
.icon_close{
	position: absolute;
	top: 1em;
	right: 1em;
	font-size: 14px;
}
.icon_close:after{
    content: "\ea0f";
	color: rgba(68, 68, 68, 0.78);
}
/*home_img-------------------------------------------------*/
.home_img{
	position: fixed;
	overflow-y: hidden;
	z-index: 100;
	height: 100%;
	background: #fff;
}
.home_img img{
    width: 100%;
	height: 100%;

}
.test{
	display: none;
}
/*unfold---------------------------------------------------*/
#unfold {
	position: absolute;
	top:10px;
	width: 100%;
}
#unfold a{
	position: absolute;
	right: 1em;
 	width: 1em;
 	height: 1em;
	line-height:1.8em;
}
.flatbtn i{
    font-size: 20px;
	margin: 0;
	text-align: center;
	color: #444;
}
.flatbtn i:after{
	content: '\e9bd';
}

/*nav----------------------------------------------------*/
#nav{
	position: absolute;
	display: none;
	width: 30%;
	border: 0;
	right: 0;
	top: 45px;
	overflow: hidden;
	z-index: 999;
	background: #ffffff;
	border-radius: 0 0 0.2em 0.2em;
}
#nav p{
	padding: 0.8em 0 0.801em 0;
	text-align: center;
	font-size: 0.78rem;
}
#nav i{
	font-size:1em;
	padding-right:2px;
}
#nav p:nth-child(1),p:nth-child(2){
	border-bottom: 1px solid #bbb;
}
#nav p:nth-child(1){
	padding-right: 1em;
}
.icon_ho i:after{
	content: "\e904";
}
.icon_se i:after{
	content: "\e986";
}
.icon_up i:after{
	content: "\e914";
}
/*head---------------------------------------------------*/
.head{
	width: 100%;
	height:45px;
	background:rgba(0, 0, 0, 0.03);
}
.head-s{
	margin: 0 auto;
	position: relative;
}

/*lean_overlay---------------------------------------------------*/
#lean_overlay{
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,1);
	display: none;
	-webkit-animation: overlaymove 300ms linear ;
	animation: overlaymove 300ms linear ;
}
@keyframes overlaymove{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 0.6;
	}
}

.car_view {
/*	margin-top: 10%;
	margin-left: 2%;*/
	display: table-cell;
	vertical-align:middle;
	border-radius: 1px;
	width: 100%;
	z-index: 110;
	height: auto;

}
#car_img{
	z-index: 110;
	width: 100%;
	max-height:none;
}

/*cover---------------------------------------------------*/
.cover{
	width: 100%;
	height:auto;
	overflow: hidden;
}
.slider1{
	transform:translate3d(0,0,0);	
}
.slide{
	float:right;
	background: #ccc;
	width: 100%;
}
/*menus_header---------------------------------------------------*/
#menus_header {
	width: 100%;	
	height: 45px;
    position: relative;
    margin-top: 3em;
}
.ks {
	width: 80%;
	padding-top: 0.5em;
	margin-left: 15%;
}
.keywork {
	border-radius: 5px;
	height: 27px;
	width: 80%;
	text-indent: 5px;
	border: none;
	color:#525864;
	/*	border: 1px solid;
        border-color: #abbce8 #c3cae0 #b9c8ef;
        -webkit-transition: all 0.25s linear;
    	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.4);*/
}
.keywork:focus{
	border-top-left-radius: 0px;
	outline:none;
	color:#000;
	border-color:#84c0ee;
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 3px #96c7ec;
	-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 3px #96c7ec;
	box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 3px #96c7ec;
}

#seracn {
	color: #fff;
	/*display: none;*/
}
input[type=search]{
	-webkit-appearance:none;
}
input::-webkit-search-cancel-button {display: none;}
#seracn .btn {
	width: 15%;
	height: 27px;
	background:url(../images/btn.png) center no-repeat ;
	border: 0;
	text-align: center;
	position: absolute;
	right: 18%;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	color: #fff;
}
.btn:focus{
	outline:none;
	color:#525864;
	border-color:#84c0ee;
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 3px #96c7ec;
	-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 3px #96c7ec;
	box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 3px #96c7ec;
}
#fabu {
	margin-top: 10px;
	float: right;
	border: 1px solid #795548;
	line-height: 27px;
	font-size: 13px;
	height: 26px;
	padding-left: 10px;
	color: #fff;
	background-color: #795548;
}
/*tab---------------------------------------------------*/
#tab{
	font-family: "Hiragino Sans GB","Microsoft YaHei","黑体",Helvetica,Arial,Tahoma,sans-serif;
}
#tab-hd{
	width: 100%;
	height: 40px;
	margin-bottom: 0.6125em;
	text-align: center;
	color: #5a5a5a;
}
.tab-active{
	color: #333;
}
/*.tab-active:after{*/
	/*content: '';*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*background: #ffeb3b;*/
    /*width: 90%;*/
    /*height: 2px;*/

/*}*/
.tab-hd-title{
	position: relative;
	width: 40%;
	line-height: 40px;
	font-size:1rem;
}
.tab-hd-con{
	position: relative;
	float: left;
	width: 30%;
	font-size:1rem;
	line-height: 40px;
	padding-bottom: 0.2em;
	transition: all 50ms;
}
#tca{
	float: right;
}
/*widget-photos---------------------------------------------------rgb(249, 241, 238)*/
.widget-photos {
    background:#e9eae5;/* rgb(241, 180, 158);*/
}
.list,.list_s{
  	overflow: hidden;
  	margin:0.3em 0 auto;
}
.list li,.list_s li{
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 2px;
    border-style: solid;
	float:right;
	width: 47%;
    background: white;
    overflow: hidden;
    min-height: 105px;
}
.list img,.list_s img{
	max-width: 100%;
	display:-moz-box;
	display:-webkit-box;
	display:box;
	vertical-align: top;
	max-height: 85%;
	/*	max-height:145px;*/
}
.list_s li {
	position: relative;
	/*	width: 90%;
   		margin: 2% 2% 3% 3%;
   		padding: 5% 2% 5% 2%;
  		float: none; */
	width: 94%;
	margin: 3% 4% 3% 3%;
	float: none;

}
.list_s img{
	max-width: 100%;
	/*padding: 0 4% 0 4%;*/
}

.i_img{
    height:auto;
    min-height: 0;
    border-radius:2px;
    display: inline-block;
    vertical-align: top;
}
.i_img::after{
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.img-name {
	text-align: left;
	z-index: 10;
	font-family: dosis,"HelveticaNeue-CondensedBold","trebuchet ms",sans-serif;
	/*letter-spacing: 0.1em;*/
	font-size: 0.9em;
	font-weight:700;
	color:#31312f;
}

.img-name , .Ans{
	margin: 0.6em 0 0.6em 1.5em;
	margin-left: 5%;
}
/*Ans-----------------------------------------------------------*/
.Ans{
    position: relative;
	margin-bottom: 0.5em;
}

.zan{
	width: 18px;
	height: 18px;
	border:none;
	background: url(../images/zan.png) center no-repeat;
}
.cai{
	width: 18px;
	height: 18px;
	border:none;
	background: url(../images/cai.png) center no-repeat;
}

/*food---------------------------------------------------*/
.food{
	width: 100%;
	height: 50px;
	background: rgba(241, 180, 158,0.8);
	color: #fff;
    font-size: 0.85rem;
	font-weight: 500;
	text-align:center;
	padding-top: 5px;
	border-bottom-left-radius: 3px;
}

.bot{
	display:none;
	color: #ffffff;
	font-size: 14px;
	line-height: 30px;
	height: 30px;
	width: 100%;
	text-align: center;
	background-color:rgba(241, 180, 158, 1);

}
/*gtop--------------------------------------------------*/
.dtop{
	margin-top: 3%;
}
.gtop {
/*	position: fixed;
	bottom: 0;
	right: 0;*/
	opacity: 0;
	z-index: 90;
	/*background: url(../images/scroll-down.png) bottom right no-repeat;*/
	width: 100px;
	height: 50px;
	background-size: contain;
}
.gtop i:after{
	content: "Top";
	font-size:1em;
	color: #fff;
	font-weight: 700;
}



@media screen and (max-width: 320px){
	#nav p{
		padding: 0.5em 0 0.501em 0;
	}
}
@media screen and (min-width: 370px) and (max-width: 440px){
	.gtop {
			width: 110px;
	}
}
@media screen and (max-width: 845px) and (min-width: 740px){
	   .widget-photos li {
	   	min-height: 90px;
	   }
	   .main{
	   	width: 70%;
	   	margin: 0 15% 0 15%;
	   }
}



/*grid----------------------------------------------------------------*/

.grid {
	position: relative;
	width:98%;
}

.grid-item {
	position: absolute;
	margin-left: 5px;
}


@font-face {
	font-family: 'icomoon';
	src:  url('fonts/icomoon.eot?261vvo');
	src:  url('fonts/icomoon.eot?261vvo#iefix') format('embedded-opentype'),
	url('fonts/icomoon.ttf?261vvo') format('truetype'),
	url('fonts/icomoon.woff?261vvo') format('woff'),
	url('fonts/icomoon.svg?261vvo#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

i[class|="icon"],i:after,i:before,.back_link:after {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}